[build]
rustflags = ["-A", "non_snake_case"]

[env]
PROTOC = "/opt/homebrew/bin/PROTOC"

[alias]
run-dev = """
run \
    --package boolean_threshold_network \
    -- \
    -n 10 \
    --gamma 2.4 \
    --num-steps 1 \
    --network-seed 1 \
    --num-networks 1 \
    --num-initial-conditions 3 \
    --dynamics-seed 0 \
    --num-drugs 1 \
    --num-targets-per-drug 3 \
    --drug-strength .25 \
    --drug-seed 0 \
    --tag v0.1.0 \
    --output-directory data \
"""

run-release = """
run \
    --package boolean_threshold_network \
    --bin perform_experiment \
    --release \
    -- \
    -n 500 \
    --gamma 1.  \
    --out-degree-distribution power-law \
    --num-steps 50 \
    --network-seed 0 \
    --num-networks 50 \
    --num-final-states-to-store 10 \
    --num-initial-conditions 10 \
    --initial-condition-correlation .99 \
    --dynamics-seed 0 \
    --num-drugs 2 \
    --num-targets-per-drug 5 \
    --drug-strength 1 \
    --drug-seed 0 \
    --tag v1.0.2 \
    --output-directory data/drug-v1211d-N500-2drugs/raw \
"""

run-analysis = """
run \
    --package boolean_threshold_network \
    --bin analyze_data \
    --release
    -- \
    --input-directory data/no-drug-homogeneous-phase-transition/raw \
    --output-directory data/no-drug-homogeneous-phase-transition/derived
"""

run-extraction = """
run \
    --package boolean_threshold_network \
    --bin extract_states \
    --release
    -- \
    --input-directory  data/drug-v1211d-N500-2drugs/raw \
    --output-directory data/drug-v1211d-N500-2drugs/derived
"""